@page "/inventory-home"

<h3>Inventory</h3>

<TabControl>
    <TabPage Text="Manual Stock Entry">
        <ManualStockEntry/>
    </TabPage>
    <TabPage Text="Stocktake">
        <Stocktake/>
    </TabPage>
    <TabPage Text="Current Stock">
        <InventoryTable HeaderText="Current Stock" IsCurrentOnly="true"/>
    </TabPage>
    <TabPage Text="History">
        <InventoryTable HeaderText="History" IsCurrentOnly="false"/>
    </TabPage>
</TabControl>

@code {

}
