@page "/inventory-home"

<h3>Inventory</h3>

<TabControl>
    <TabPage Text="New Stock Entry">
        <NewStock></NewStock>
    </TabPage>
    <TabPage Text="Stocktake">

    </TabPage>
    <TabPage Text="Stocktake History">

    </TabPage>

</TabControl>

@code {

}
