@page "/inventory-home"
@attribute [Authorize(Roles = $"{Role.Administrator}, {Role.StocktakeUser}")]

@using SpareParts.Shared.Models

@inject IState<InventoryState> InventoryState
@inject IDispatcher Dispatcher

<h3>Inventory</h3>

<TabControl DefaultTabIndex="InventoryState.Value.SelectedInventoryTab" OnTabChanged="HandleTabChanged">
    <TabPage Text="Manual Stock Entry">
        <ManualStockEntry/>
    </TabPage>
    <TabPage Text="Stocktake">
        <Stocktake/>
    </TabPage>
    <TabPage Text="Current Stock">
        <InventoryTable IsCurrentOnly="true"/>
    </TabPage>
    <TabPage Text="History">
        <InventoryTable IsCurrentOnly="false"/>
    </TabPage>
</TabControl>

@code {

    private async Task HandleTabChanged(int tabIndex)
    {
        await Task.Run(() =>
        {
            Dispatcher.Dispatch(new SetSelectedInventoryTabAction(tabIndex));
        });
    }
}
