@page "/"

<PageTitle>Spare Parts</PageTitle>

<h1>Spare Parts</h1>

<p>This is a simple application to spike/demo various Blazor + WebAPI features. </p>
<p>*Not intended to be a real-world inventory system :-)</p>
<br>
<p> Swagger API Documentation: <a href="/swagger">Swagger</a> </p>