@page "/logout"

@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

<h3>Logout</h3>

@code {
    protected override void OnInitialized()
    {
        AuthenticationService.Logout();
        NavigationManager.NavigateTo("/");
    }

}
