@page "/settings"
@attribute [Authorize(Roles = Role.Administrator)]

@using SpareParts.Shared.Models

@inject IJSRuntime jsRuntime;
@inject ILocalStorageService localStorageService;
@inject IThemeService themeService;

<h3>Settings</h3>
<div>
    <ToggleButton ButtonTitle="Dark Mode Enabled" IsChecked="@IsDarkModeEnabled" OnCheckedChanged="HandleDarkModeChanged" />
</div>  

@code {
    private bool IsDarkModeEnabled { get; set; }

    protected override async Task OnInitializedAsync()
    {
        IsDarkModeEnabled = await themeService.IsDarkModeEnabled();
    }

    private async Task HandleDarkModeChanged(bool isDarkModeEnabled)
    {
        await themeService.SetDarkMode(isDarkModeEnabled);
        await UpdateStoredDarkModeSetting(isDarkModeEnabled);
    }

    private async Task UpdateStoredDarkModeSetting(bool isDarkModeEnabled)
    {
        await localStorageService.SaveDataAsync(LocalStorageKey.IsDarkModeEnabled, isDarkModeEnabled);
    }
}