@typeparam T

@using SpareParts.Shared.Models
@using System.Text;
@using Humanizer;

@inject IServiceWrapper ServiceWrapper
@inject IPartService PartService

<div>
    <div>
        @if(_filterFields != null && _filterFields.Any())
        {
            <ChipsList Chips="_filterFields.Select(f => new Chip(f.Name, f.IsSelected)).ToList()" Title="Fields" OnToggleChip="HandleToggleField"/>
        }
    </div>

    <div>
        @if (_filterLines != null)
        {
            <EditForm Model="_filterLines" OnValidSubmit="HandleValidSubmit">

                <div class="card mt-2">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Filters</h6>
                        @foreach (var filterLine in _filterLines)
                        {
                            <FilterSelector Fields="_filterFields" Operators="_operators" FilterLine="filterLine" OnRemoveFilter="RemoveFilter" />
                        }
                        <div class="mt-2">
                            <button type="button" class="btn btn-secondary my-1" @onclick="AddFilter">Add Filter</button>
                            <button type="submit" class="btn btn-primary my-1">Search</button>
                        </div>
                    </div>
                </div>
            </EditForm>
        }
    </div>
    @if (_hasError)
    {
        <div class="alert alert-danger py-1">
            @_errorMessage
        </div>
    }

    @if(_filterResults != null && _filterFields != null){
        <SimpleDataGrid T="Part" DataSource="_filterResults" ColumnList="_filterFields.Where(f => f.IsSelected).Select(f => f.Name).ToList()" OnRowClick="OnRowClick" />
    }
        
</div>


@code
{
    [Parameter]
    public EventCallback<Dictionary<string, string>> OnRowClick { get; set; }

    private List<Part>? _filterResults { get; set; }

    private List<FilterField>? _filterFields;
    private List<String>? _operators;
    private List<FilterLine>? _filterLines;
    private const int MaxFilterLineCount = 5;

    private bool _hasError;
    private string? _errorMessage;

    // TODO PAGING
    private int _totalItemCount;
    private const int PageSize = 10;


    protected override void OnInitialized()
    {   
        _filterFields = GetFilterFields();
        _operators = FilterOperator.Operators().ToList();
        _filterLines = new List<FilterLine>();
        AddFilter();

        _hasError = false;
        _errorMessage = string.Empty;
    }


    private List<FilterField> GetFilterFields()
    {
        var props = typeof(T).GetProperties();
        var fields = props.Select(p => new FilterField(p.Name, p.PropertyType, true)).Where(f => f.Name.ToLower() != "id");
        return fields.ToList();
    }

    private async Task HandleToggleField(Chip chip)
    {
        if(_filterFields != null && _filterLines != null && chip != null)
        {
            var itemToToggle = _filterFields.FirstOrDefault(f => f.Name == chip.Name);
            var filterAlreadyUsed = _filterLines.FirstOrDefault(f => f.SelectedField.Name == chip.Name) != null;
            if(itemToToggle != null && !filterAlreadyUsed)
            {
                itemToToggle.IsSelected = chip.IsActive;
                await Search();
            }
        }
    }

    private async Task HandleValidSubmit(EditContext context)
    {
        await Search();
    }

    private void AddFilter()
    {
        if (_filterLines != null && _filterLines.Count <= MaxFilterLineCount - 1 
                && _filterFields != null && _filterFields.Any())
        {
            _filterLines?.Add(new FilterLine(_filterFields.First(), FilterOperator.Equal, ""));
        }
    }

    private bool ValueRequiresQuotes(FilterLine filterLine)
    {
        return filterLine.SelectedField.Type.IsAssignableFrom(typeof(string)) ||
                filterLine.SelectedField.Type.IsAssignableFrom(typeof(DateTime)) ||
                filterLine.SelectedField.Type.IsAssignableFrom(typeof(DateTime?));
    }

    private string GetFilterLineValue(FilterLine filterLine)
    {
        if (ValueRequiresQuotes(filterLine))
        {
            return $"\"{filterLine.Value}\"";
        }

        return filterLine.Value;
    }

    private string GetFilterString(FilterLine filterLine)
    {
        var filterLineValue = GetFilterLineValue(filterLine);
        return $" {filterLine.SelectedField.Name.Camelize()}: {{{filterLine.SelectedOperator}:{filterLineValue} }}";
    }

    private async Task RemoveFilter(FilterLine filterLine)
    {
        if (_filterLines != null)
        {
            var itemToRemove = _filterLines.FirstOrDefault(f => f.Equals(filterLine));
            if (itemToRemove != null)
            {
                _filterLines.Remove(itemToRemove);
                await Search();
            }
        }
    }

    private string BuildQueryFilter()
    {
        var filter = "";
        if(_filterLines != null)
        {
            if (_filterLines.Count == 1)
            {
                filter = GetFilterString(_filterLines.First());
            }
            else
            {
                const string filterAndPrefix = " and: {";

                foreach (var filterLine in _filterLines)
                {
                    filter += filterAndPrefix + GetFilterString(filterLine);
                }
                filter = filter.Remove(0, filterAndPrefix.Length);
            }

            for (int i = 0; i < _filterLines.Count - 1; i++)
            {
                filter += "}";
            }
        }
        return filter;
    }

    private string BuildFilterFields()
    {
        var filterFieldStringBuilder = new StringBuilder();
        if(_filterFields != null && _filterFields.Any())
        {
            foreach(var field in _filterFields)
            {
                filterFieldStringBuilder.AppendLine(field.Name.Camelize());
            };
        }
        return filterFieldStringBuilder.ToString();
    }

    private async Task Search()
    {
        if (_filterLines != null)
        {
            var validator = new FilterLinesValidator();
            var validationResult = validator.Validate(_filterLines);
            if (validationResult.IsValid)
            {
                var filter = BuildQueryFilter();
                var fields = BuildFilterFields();

                var partRequest = new GraphQLRequest
                    {
                        query = $@"{{
                        parts (where: {{{filter}}}) {{
                            {fields}
                        }}
                    }}"
                    };

                var partResponse = await ServiceWrapper.ServiceCall(() => PartService.Search(partRequest), "An error occurred searching for part.");

                if (partResponse.Data != null && partResponse.Data.Parts != null)
                {
                    _filterResults = partResponse.Data.Parts;
                    _hasError = false;
                    _errorMessage = string.Empty;
                }
                else
                {
                    _hasError = true;
                    _errorMessage = "No results found";
                }
            }
            else
            {
                _hasError = true;
                var sb = new StringBuilder();
                for (int i = 0; i < validationResult.Errors.Count; i++)
                {
                    var error = validationResult.Errors[i];
                    sb.AppendLine($"Row {i} is invalid. {error.ErrorMessage}");
                }
                _errorMessage = sb.ToString();

                _filterResults = new List<Part>();

                return;
            }            
        }
    }

    public class MyGraphQLResponse
    {
        public MyGraphQLData? Data { get; set; }
    }

    public class MyGraphQLData
    {
        public List<T>? Parts { get; set; }
    }
}
