@page "/part-search"
@attribute [Authorize(Roles = Role.Administrator)]

@using SpareParts.Shared.Models

@inject IServiceWrapper ServiceWrapper
@inject ISearchService SearchService
@inject IState<SearchState> SearchState
@inject IDispatcher Dispatcher

<div>
    <h3>Part Search</h3>
    <FilterGrid T="PartGraphQLObject" RootGraphQLField="parts" ServiceCall="@((request) => HandleServiceCall(request))" 
        FilterGridState="SearchState.Value.FilterGridState" OnFilterStateChanged="HandleFilterStateChanged" />
</div>

@code 
{
    private async Task<IPagedData<PartGraphQLObject>> HandleServiceCall(GraphQLRequest request)
    {
        var partResponse = await ServiceWrapper.ServiceCall(() => SearchService.Search(request), "An error occurred searching for part.");
        if(partResponse != null && partResponse.Data != null && partResponse.Data.Parts != null)
        {
            return partResponse.Data.Parts;
        }
        return new PartGraphQLResponsePagedItems();
    }

    private void HandleFilterStateChanged(FilterGridState updatedState)
    {
        Dispatcher.Dispatch(new UpdateSearchStateAction(updatedState));
    }
}