@if (_pages != null)
{
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item">
                <a id="FirstPage" class="page-link pager-custom" aria-label="First" @onclick="() => HandlePageSelect(_pages.First())"><span class="oi oi-media-step-backward"></span></a>
            </li>
            @foreach (var pg in _pages)
            {
                <li class="page-item pager-custom @GetActiveClass(pg)">
                    <a id="@($"Page{pg}")" @onclick="() => HandlePageSelect(pg)" class="page-link">@pg</a>
                </li>
            }
            <li class="page-item">
                <a id="LastPage" class="page-link pager-custom" aria-label="Last" @onclick="() => HandlePageSelect(_pages.Last())"><span class="oi oi-media-step-forward"></span></a>
            </li>
        </ul>
    </nav>
}

@code {

    [Parameter]
    public int? TotalItemCount { get; set; }

    [Parameter]
    public int? PageSize { get; set; }

    [Parameter]
    public EventCallback<int> OnPageChanged { get; set; }

    private List<int>? _pages;
    private int _currentPage;

    protected override void OnInitialized()
    {
        _currentPage = 1;
        BuildPageList();
    }

    private void BuildPageList()
    {
        var pageCount = 1;
        PageSize ??= 10;

        if(TotalItemCount.HasValue)
        {
            pageCount = GetPageCount(TotalItemCount.Value, PageSize.Value);
        }

        if(PageSize.HasValue)
        {
            _pages = new List<int>();
            for (int i = 1; i <= pageCount; i++)
            {
                _pages.Add(i);
            }    
        }
    }

    private int GetPageCount(decimal recordCount, decimal pageSize)
    {
        var size = recordCount / pageSize;
        return Convert.ToInt32(Math.Ceiling(size));
    }

    private async Task HandlePageSelect(int pageNumber)
    {
        if(_currentPage == pageNumber)
        {
            return;
        }
        _currentPage = pageNumber;
        if (OnPageChanged.HasDelegate)
        {
            await OnPageChanged.InvokeAsync(pageNumber);    
        }
    }

    private string GetActiveClass(int pageNumber)
    {
        return _currentPage == pageNumber ? "active" : "";
    }
}
